{% extends 'base_emp_home.html' %}
{% load crispy_forms_tags %}
{% block main %}

<div class="shadow m-2">
    <div class="card-body">
        <a href="" class="btn btn-primary float-right btn-sm">View My EDUCATION</a>
        <h5 class="p-2 text-danger" style="border-bottom:2px solid orange; ">Edit Education Details</h5>
        <div class="container-fluid">
            
            <table class="table table-bordered">
                <form action="{% url 'education_details' %}" method="post">
                    {% csrf_token %}
                <tr>
                    <th>Post Graduation Cource Name</th>

                <td><input type="text" name="pgcourse" class = "form-control" value = "{{edu.pg_course}}"></td>
                </tr>
                <tr>
                    <th>Post Graduation College Name</th>
                    <td><input type="text" name="pgclg" class = "form-control"  value = "{{edu.pg_clg}}"></td>
                </tr>
                <tr>
                    <th>Year Of Passing</th>
                    <td><input type="text" name="pg_year_of_passing" class = "form-control" value = "{{edu.pg_year_of_passing}}"></td>
                </tr>
                <tr>
                    <th>Post Graduation Percentage</th>
                    <td><input type="text" name="pg_percentage" class = "form-control" value = "{{edu.pg_percentage}}"></td>
                </tr>

                <tr>
                    <th>Graduation Cource Name</th>
                    <td><input type="text" name="gcourse" class = "form-control" value = "{{edu.graduation}}"></td>
                </tr>
                <tr>
                    <th>Graduation College Name</th>
                    <td><input type="text" name="gclg" class = "form-control"  value = "{{edu.graduation_clg}}"></td>
                </tr>
                <tr>
                    <th>Year Of Passing</th>
                    <td><input type="text" name="g_year_of_passing" class = "form-control" value = "{{edu.graduation_year_of_passing}}"></td>
                </tr>
                <tr>
                    <th>Graduation Percentage</th>
                    <td><input type="text" name="g_percentage" class = "form-control" value = "{{edu.graduation_percentage}}"></td>
                </tr>

                <tr>
                    <th>Higher Secondary School </th>
                    <td><input type="text" name="hsc" class = "form-control" value = "{{edu.hsc}}"></td>
                </tr>
                <tr>
                    <th>Higher Secondary School Name</th>
                    <td><input type="text" name="hscclg" class = "form-control"  value = "{{edu.hsc_clg}}"></td>
                </tr>
                <tr>
                    <th>Year Of Passing</th>
                    <td><input type="text" name="hsc_year_of_passing" class = "form-control" value = "{{edu.hsc_year_of_passing}}"></td>
                </tr>
                <tr>
                    <th>Higher Secondary School Percentage</th>
                    <td><input type="text" name="hsc_percentage" class = "form-control" value = "{{edu.hsc_percentage}}"></td>
                </tr>

                <tr>
                    <th>SSC</th>
                    <td><input type="text" name="ssc" class = "form-control" value = "{{edu.ssc}}"></td>
                </tr>
                <tr>
                    <th>SSC SCHOOL Name</th>
                    <td><input type="text" name="sscschool" class = "form-control"  value = "{{edu.ssc_school}}"></td>
                </tr>
                <tr>
                    <th>Year Of Passing</th>
                    <td><input type="text" name="ssc_year_of_passing" class = "form-control" value = "{{edu.ssc_year_of_passing}}"></td>
                </tr>
                <tr>
                    <th>Post Graduation Percentage</th>
                    <td><input type="text" name="ssc_percentage" class = "form-control" value = "{{edu.ssc_percentage}}"></td>
                </tr>

                
            </table>
            <center><input type="submit" value = "SUBMIT" class="btn btn-primary px-3"></center>
            </form>
        </div>
    </div>
</div>
    



{% if error == "No" %}
<script>
    alert("You Have Successfully Updated Your Profile .....")
    window.location=("{% url 'index' %}");
</script>
{% endif %}
{% if error == "Yes" %}
<script>
    alert("Something Went Wrong .....")
</script>
{% endif %}
{% endblock %}